#container {
    min-width: 800px;
    width: 80%;
    margin: 0px auto;
}

header {
    height: 98px;
    background-color: #2A283D;
    position: sticky;
}

#line {
    height: 10px;
    background: rgb(26,49,98);
    background: linear-gradient(90deg, rgba(26,49,98,1) 0%, rgba(105,45,82,1) 50%, rgba(145,24,51,1) 100%);
}
content {
    width: 100%;
    float: left;
    min-width: 500px;
    min-height: 800px;
}

footer {
    clear: both;
    text-align: right;
    padding: 5px 10px;
}

.table {
    margin-top: 15px;
    border: 2px solid #2A283D;
    background-color: #efeeee;
}

thead {
    font-weight: bold;
    text-decoration: underline;
}

.nachname {
    font-weight: bold;
}

/*NAV-BAR*/
html {
    font-size: 10px;
    font-family: "Roboto Cn", sans-serif;
}

a {
    text-decoration: none;
    color: Black;
}
nav {

    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-size: 1.6rem;
}

    nav ul {
        display: flex;
    }

        nav ul li {
            list-style: none;
            transform: translateX(100rem);
            animation: slideIn .5s forwards;
        }

            nav ul li:nth-child(1) {
                animation-delay: 0s;
            }

            nav ul li:nth-child(2) {
                animation-delay: .5s;
            }

            nav ul li:nth-child(3) {
                animation-delay: 1s;
            }

            nav ul li:nth-child(4) {
                animation-delay: 1.5s;
            }

            nav ul li a {
                padding: 1rem 0;
                margin: 0 3rem;
                position: relative;
                letter-spacing: 2px;
                color: white;
                font-weight: bold;
            }

                nav ul li a:last-child {
                    margin-right: 10px;
                }
                nav ul li a:hover {
                    color: white;
                    text-decoration: none;
                    font-weight: bold;
                }
                nav ul li a::before,
                nav ul li a::after {
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    background-color: crimson;
                    left: 0;
                    transform: scaleX(0);
                    transition: all .5s;
                }

                nav ul li a::before {
                    top: 0;
                    transform-origin: left;
                }

                nav ul li a::after {
                    bottom: 0;
                    transform-origin: right;
                }

.overlay {
    background-color: rgba(145,24,51,.100);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    transition: opacity 650ms;
    transform: scale(0);
    opacity: 0;
    display: none;
}

nav ul li a:hover::before,
nav ul li a:hover::after {
    transform: scaleX(1);
}

@keyframes slideIn {
    from {
    }

    to {
        transform: translateX(0);
    }
}




/*LOGIN*/
/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #2A283D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

    button:hover {
        opacity: 0.8;
    }

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 20%;
    border-radius: 50%;

}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {
        -webkit-transform: scale(0)
    }

    to {
        -webkit-transform: scale(1)
    }
}

@keyframes animatezoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
        display: block;
        float: none;
    }

    .cancelbtn {
        width: 100%;
    }
}

/*REgister*/
/* Add padding to containers */
.container {
    padding: 16px;
    background-color: white;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

/* Overwrite default styles of hr */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

/* Set a style for the submit button */
.registerbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

    .registerbtn:hover {
        opacity: 1;
    }

/* Add a blue text color to links */
a {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}

.header
{
    text-align: center;
}

/*´Kader-Tabelle */

.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 900px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    letter-spacing: 1px;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
}

    .content-table thead tr {
        background-color: #2A283D;
        color: white;
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid #2A283D;
    }

        .content-table tbody tr:nth-of-type(even) {
            background-color: #f3f3f3;
        }

        .content-table tbody tr:last-of-type {
            border-bottom: 2px solid #2A283D;
        }

        .content-table tbody tr.active-row {
            font-weight: bold;
            color: #009879;
        }

/*Home-Site*/

.fixed-bg1 {
    background-image: url("Images/bg1.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


.fixed-bg2 {
    background-image: url("Images/bg2.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.unsichbares-Bild
{
    left: 0px;
    top: 30px;
    z-index: 1;
}

.wallpaper {
    background-image: url("Images/wallpaper.jpg");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*about*/
.about {
    letter-spacing: 1px;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: white;
    color: #2A283D;
    font-size: 15px;
}