#container {
    min-width: 800px;
    width: 80%;
    margin: 0px auto;
}

header {
    height: 110px;
    background: rgb(26,49,98);
    background: linear-gradient(90deg, rgba(26,49,98,1) 0%, rgba(105,45,82,1) 50%, rgba(145,24,51,1) 100%);
}

nav {
    min-width: 150px;
    min-height: 500px;
    padding: 0px 5px 10px 10px;
}

content {
    width: 100%;
    float: left;
    min-width: 500px;
    min-height: 500px;
}

footer {
    clear: both;
    border-top: 1px solid #17e599;
    text-align: right;
    padding: 5px 10px;
}

.img {
    float: left;
}

ul {
    list-style: none;
    padding-left: 0px;
    overflow: hidden;
    background-color: white;
}

.nav_level1 {
    padding: 34px 45px 36px 15px;
    float: left;
    font-size: 1.2em;
}

nav a {
    color:black;
}

a:hover {
    background-color: #9a1848;
    font-weight: bold;
    text-decoration: none;
    padding: 15px 15px 15px 15px;
    color: white;
    border: 2px solid black;
    border-radius: 15px;
    font-family: Arial;
    
}

.table {
    border: 1px solid black;
    background-color: #efeeee;
}

thead {
    font-weight: bold;
    text-decoration: underline;
}

.nachname {
    font-weight: bold;
}

#first {
    padding: 34px 45px 36px 15px;
    background-color: #9a1848;
    border: 2px solid black;
    border-radius: 15px;
}
