<ul>
    <li class="nav_level1" id="first" style="float:right">@Html.ActionLink("Login", "login", "user")</li>
    <li class="nav_level1" style="float:right">@Html.ActionLink("Registration", "registration", "user")</li>
</ul>