<ul>
        <li class="nav_level1">@Html.ActionLink("Home", "index", "home")</li>
        <li class="nav_level1">@Html.ActionLink("History", "about", "home")</li>
        <li class="nav_level1">@Html.ActionLink("Moments", "contact", "home")</li>
        <li class="nav_level1">@Html.ActionLink("Team", "attack", "home")</li>
</ul>
