<ul>
        <li class="nav_level1">@Html.ActionLink("Home", "index", "home")</li>
        <li class="nav_level1">@Html.ActionLink("About", "about", "home")</li>
        <li class="nav_level1">@Html.ActionLink("Kontakt", "contact", "home")</li>
        <li class="nav_level1">@Html.ActionLink("Mannschaft", "attack", "home")</li>
</ul>
