<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <div class="slidershow middle">

        <div class="slides">
            <input type="radio" name="r" id="r1" checked />
            <input type="radio" name="r" id="r2" />
            <input type="radio" name="r" id="r3" />
            <input type="radio" name="r" id="r4" />
            <input type="radio" name="r" id="r5" />
            <div class="slide s1">
                <img src="~/Content/Images/Moment1.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="~/Content/Images/wallpaper2.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="~/Content/Images/wallpaper3.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="~/Content/Images/BG1.jpg" alt="" />
            </div>
            <div class="slide">
                <img src="~/Content/Images/BG2.jpg" alt="" />
            </div>
        </div>
        <div class="navigationSlide">
            <label for="r1" class="barSlide"></label>
            <label for="r2" class="barSlide"></label>
            <label for="r3" class="barSlide"></label>
            <label for="r4" class="barSlide"></label>
            <label for="r5" class="barSlide"></label>
        </div>
    </div>  
    <div style="margin-top: 550px; font-weight: bold; color: #2A283D;
    font-size: 15px; text-decoration: underline;">
        Die besten Momente der Geschichte des FC Barcelonas: 
    </div>
</body>
</html>

