<body>

    <div class="fixed-bg1"></div>

    <p>
        <div style=" overflow: hidden; margin: 15px auto; max-width: 200px;">
            <iframe scrolling="no" src="https://www.fcbarcelona.com/en/" style="border: 0px none; margin-left: -210px; height: 2000px; margin-top:-1590px; width: 500px; margin-bottom: -360px;">
            </iframe>
        </div>
    </p>

    <div class="fixed-bg2"></div>

</body>
